<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examplesonly.android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.examplesonly.android.ExamplesOnly"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.examplesonly.android.ui.videoSwipe.VideoSwipeActivity" />
        <activity android:name="com.examplesonly.android.ui.activity.ProfileImageActivity" />
        <activity android:name="com.examplesonly.android.ui.activity.EditProfileActivity" />
        <activity android:name="com.examplesonly.android.ui.activity.NotificationActivity" />
        <activity android:name="org.buffer.android.thumby.ThumbyActivity" />
        <activity android:name="com.examplesonly.android.ui.activity.ChooseCategoryActivity" />
        <activity android:name="com.examplesonly.android.ui.activity.SettingsActivity" />
        <activity
            android:name="com.examplesonly.android.ui.activity.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|navigation" />
        <activity android:name="com.examplesonly.android.ui.activity.VerificationActivity" />
        <activity android:name="com.examplesonly.android.ui.activity.DynamicLinkActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="link.examplesonly.com "
                    android:scheme="https" />
                <data
                    android:host="link.examplesonly.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="com.examplesonly.android.ui.activity.LoginActivity" />
        <activity android:name="com.examplesonly.android.ui.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.examplesonly.android.ui.activity.MainActivity" />
        <activity android:name="com.examplesonly.android.ui.activity.NewEoActivity" />
        <activity
            android:name="com.examplesonly.android.ui.activity.SignupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.examplesonly.android.ui.activity.EmailLoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".network.video.VideoUploadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".network.video.UploadProgressReceiver">
            <intent-filter>
                <action android:name="com.examplesonly.ACTION_CLEAR_NOTIFICATION" />
                <action android:name="com.examplesonly.ACTION_PROGRESS_NOTIFICATION" />
                <action android:name="com.examplesonly.ACTION_UPLOADED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".network.video.UploadRetryReceiver">
            <intent-filter>
                <action android:name="com.examplesonly.ACTION_RETRY" />
                <action android:name="com.examplesonly.ACTION_CLEAR" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>